In [1]:
import pandas as pd
import sqlite3

In [2]:
Pitchers_Data = pd.read_csv("../CapstoneProject/PitcherData.csv")

In [3]:
conn = sqlite3.connect("Pitcher_Data.db")

In [ ]:
Pitchers_Data.to_sql('Pitchers', conn)

In [4]:
sql_query = 'SELECT * FROM Pitchers'
Pitchers_Data = pd.read_sql(sql_query, conn)
print(Pitchers_Data)

      index           Player  Year  Age Team  Wins  Losses     W-L %   ERA  \
0         0      Matt Barnes  2015   25  BOS     3       4  0.428571  5.44
1         1      Matt Barnes  2016   26  BOS     4       3  0.571429  4.05
2         2      Matt Barnes  2017   27  BOS     7       3  0.700000  3.88
3         3      Matt Barnes  2018   28  BOS     6       4  0.600000  3.65
4         4     Ryan Brasier  2018   30  BOS     2       0  1.000000  1.60
5         5    Colten Brewer  2018   25  SDP     1       0  1.000000  5.59
6         6    Heath Hembree  2013   24  SFG     0       0  0.000000  0.00
7         7    Heath Hembree  2014   25  BOS     0       0  0.000000  4.50
8         8    Heath Hembree  2015   26  BOS     2       0  1.000000  3.55
9         9    Heath Hembree  2016   27  BOS     4       1  0.800000  2.65
10       10    Heath Hembree  2017   28  BOS     2       3  0.400000  3.63
11       11    Heath Hembree  2018   29  BOS     4       1  0.800000  4.20
12       12    Rick Porcello  2009   20  DET    14       9  0.608696  3.96
13       13    Rick Porcello  2010   21  DET    10      12  0.454545  4.92
14       14    Rick Porcello  2011   22  DET    14       9  0.608696  4.75
15       15    Rick Porcello  2012   23  DET    10      12  0.454545  4.59
16       16    Rick Porcello  2013   24  DET    13       8  0.619048  4.32
17       17    Rick Porcello  2014   25  DET    15      13  0.535714  3.43
18       18    Rick Porcello  2015   26  BOS     9      15  0.375000  4.92
19       19    Rick Porcello  2016   27  BOS    22       4  0.846154  3.15
20       20    Rick Porcello  2017   28  BOS    11      17  0.392857  4.65
21       21    Rick Porcello  2018   29  BOS    17       7  0.708333  4.28
22       22      David Price  2008   22  TBR     0       0  0.000000  1.93
23       23      David Price  2009   23  TBR    10       7  0.588235  4.42
24       24      David Price  2010   24  TBR    19       6  0.760000  2.72
25       25      David Price  2011   25  TBR    12      13  0.480000  3.49
26       26      David Price  2012   26  TBR    20       5  0.800000  2.56
27       27      David Price  2013   27  TBR    10       8  0.555556  3.33
28       28      David Price  2014   28  TOT    15      12  0.555556  3.26
29       29      David Price  2014   28  TBR    11       8  0.578947  3.11
...     ...              ...   ...  ...  ...   ...     ...       ...   ...
1797   1797  Jeff Samardzija  2015   30  CHW    11      13  0.458333  4.96
1798   1798  Jeff Samardzija  2016   31  SFG    12      11  0.521739  3.81
1799   1799  Jeff Samardzija  2017   32  SFG     9      15  0.375000  4.42
1800   1800  Jeff Samardzija  2018   33  SFG     1       5  0.166667  6.25
1801   1801       Will Smith  2012   22  KCR     6       9  0.400000  5.32
1802   1802       Will Smith  2013   23  KCR     2       1  0.666667  3.24
1803   1803       Will Smith  2014   24  MIL     1       3  0.250000  3.70
1804   1804       Will Smith  2015   25  MIL     7       2  0.777778  2.70
1805   1805       Will Smith  2016   26  TOT     2       4  0.333333  3.35
1806   1806       Will Smith  2016   26  MIL     1       3  0.250000  3.68
1807   1807       Will Smith  2016   26  SFG     1       1  0.500000  2.95
1808   1808       Will Smith  2018   28  SFG     2       3  0.400000  2.55
1809   1809    Andrew Suarez  2018   25  SFG     7      13  0.350000  4.49
1810   1810     Nick Vincent  2012   25  SDP     2       0  1.000000  1.71
1811   1811     Nick Vincent  2013   26  SDP     6       3  0.666667  2.14
1812   1812     Nick Vincent  2014   27  SDP     1       2  0.333333  3.60
1813   1813     Nick Vincent  2015   28  SDP     0       1  0.000000  2.35
1814   1814     Nick Vincent  2016   28  SEA     4       4  0.500000  3.73
1815   1815     Nick Vincent  2017   29  SEA     3       3  0.500000  3.20
1816   1816     Nick Vincent  2018   30  SEA     4       4  0.500000  3.99
1817   1817      Tony Watson  2011   26  PIT     2       2  0.500000  3.95
1818   1818      Tony Watson  2012   27  PIT     5       2  0.714286  3.38
1819   1819      Tony Watson  2013   28  PIT     3       1  0.750000  2.39
1820   1820      Tony Watson  2014   29  PIT    10       2  0.833333  1.63
1821   1821      Tony Watson  2015   30  PIT     4       1  0.800000  1.91
1822   1822      Tony Watson  2016   31  PIT     2       5  0.285714  3.06
1823   1823      Tony Watson  2017   32  TOT     7       4  0.636364  3.38
1824   1824      Tony Watson  2017   32  PIT     5       3  0.625000  3.66
1825   1825      Tony Watson  2017   32  LAD     2       1  0.666667  2.70
1826   1826      Tony Watson  2018   33  SFG     4       6  0.400000  2.59

      Games  Starts  Saves  Innings  Walks  Strikeouts   WHIP  WAR    Salary  \
0        32       2      0     43.0     15          39  1.651 -0.3    238967
1        62       0      1     66.2     31          71  1.395  0.3    511000
2        70       0      1     69.2     28          83  1.220  0.7    563500
3        62       0      0     61.2     31          96  1.265  1.1    605000
4        34       0      0     33.2      7          29  0.772  1.5    249050
5        11       0      0      9.2      7          10  1.627 -0.4    184590
6         9       0      0      7.2      2          12  0.783  0.3     74972
7         6       0      0     10.0      5           6  1.600  0.0     51912
8        22       0      0     25.1      9          15  1.342  0.4    267278
9        38       0      0     51.0     17          47  1.333  0.4    366036
10       62       0      0     62.0     18          70  1.452  0.4    547000
11       67       0      0     60.0     27          76  1.333  0.5    581500
12       31      31      0    170.2     52          89  1.336  2.4   1200000
13       27      27      0    162.2     38          84  1.389  0.1   1025000
14       31      31      0    182.0     46         104  1.407  0.3   1536000
15       31      31      0    176.1     44         107  1.531  1.7   3100000
16       32      29      0    177.0     42         142  1.282  2.2   5100000
17       32      31      0    204.2     41         129  1.231  3.8   8500000
18       28      28      0    172.0     38         149  1.360  0.5  12500000
19       33      33      0    223.0     32         189  1.009  4.8  20500000
20       33      33      0    203.1     48         181  1.397 -0.2  20000000
21       33      33      0    191.1     48         190  1.176  3.1  21000000
22        5       5      0     14.0      4          12  0.929  0.5   1583333
23       23      23      0    128.1     54         102  1.348  0.9   1683333
24       32      32      0    208.2     79         188  1.193  4.7   2013333
25       34      34      0    224.1     63         218  1.137  3.3   2183333
26       31      31      0    211.0     59         205  1.100  6.6   5283333
27       27      27      0    186.2     27         151  1.098  2.7  11112500
28       34      34      0    248.1     38         271  1.079  4.3  18000000
29       23      23      0    170.2     23         189  1.049  2.6   9486339
...     ...     ...    ...      ...    ...         ...    ...  ...       ...
1797     32      32      0    214.0     49         163  1.294  0.3   9800000
1798     32      32      0    203.1     54         167  1.200  2.7  12000000
1799     32      32      0    207.2     32         205  1.136  2.7  19500000
1800     10      10      0     44.2     26          30  1.634 -0.7  19500000
1801     16      16      0     89.2     33          59  1.606  0.1    480000
1802     19       1      0     33.1      7          43  0.930  0.0    496500
1803     78       0      1     65.2     31          86  1.416  0.0    502000
1804     76       0      0     63.1     24          91  1.200  1.0    512500
1805     53       0      0     40.1     18          48  1.215  0.2   1475000
1806     27       0      0     22.0      9          22  1.227 -0.2    967214
1807     26       0      0     18.1      9          26  1.200  0.4    507786
1808     54       0     14     53.0     15          71  0.981  1.0   2500000
1809     29      29      0    160.1     45         130  1.297  0.5    454150
1810     27       0      0     26.1      7          28  0.987  0.9    480000
1811     45       0      1     46.1     11          49  0.950  1.2    303926
1812     63       0      0     55.0     11          62  1.000  0.2    510200
1813     26       0      0     23.0     10          22  1.522  0.3    166488
1814     60       0      3     60.1     15          65  1.127  0.6    525500
1815     69       0      0     64.2     13          50  1.160  1.4   1325000
1816     62       1      0     56.1     15          56  1.154  0.3   2750000
1817     43       0      0     41.0     20          37  1.317  0.4    414000
1818     68       0      0     53.1     23          53  1.125  0.6    484000
1819     67       0      2     71.2     12          54  0.879  1.5    505500
1820     78       0      2     77.1     15          81  1.022  2.6    518500
1821     77       0      1     75.1     17          62  0.956  2.6   1750000
1822     70       0     15     67.2     20          58  1.064  1.3   3450000
1823     71       0     10     66.2     20          53  1.380  1.0   5600000
1824     47       0     10     46.2     14          35  1.521  0.6   3672137
1825     24       0      0     20.0      6          18  1.050  0.4   1927863
1826     72       0      0     66.0     14          72  1.030  1.8   3000000

      Adj Salary
0         268662
1         530689
2         557708
3         605000
4         249050
5         184590
6          94230
7          60108
8         300491
9         380140
10        541377
11        581500
12       1892546
13       1569106
14       2112593
15       4008862
16       6410062
17       9841941
18      14053276
19      21289879
20      19794423
21      21000000
22       2588496
23       2654821
24       3082081
25       3002925
26       6832307
27      13967022
28      20841758
29      10983999
...          ...
1797    11017769
1798    12462368
1799    19299562
1800    19500000
1801      620727
1802      624038
1803      581253
1804      576184
1805     1531833
1806     1004481
1807      527351
1808     2500000
1809      454150
1810      620727
1811      381997
1812      590748
1813      187176
1814      545748
1815     1311381
1816     2750000
1817      569410
1818      625900
1819      635350
1820      600358
1821     1967459
1822     3582931
1823     5542438
1824     3634392
1825     1908047
1826     3000000

[1827 rows x 19 columns]

In [10]:
sql_query = 'SELECT * FROM Pitchers WHERE Starts > 25 AND Year > 2015 AND ERA < 3.5'
Pitchers_Data = pd.read_sql(sql_query, conn)
print(Pitchers_Data)

    index             Player  Year  Age Team  Wins  Losses     W-L %   ERA  \
0      19      Rick Porcello  2016   27  BOS    22       4  0.846154  3.15
1      47         Chris Sale  2016   27  CHW    17      10  0.629630  3.34
2      48         Chris Sale  2017   28  BOS    17       8  0.680000  2.90
3      49         Chris Sale  2018   29  BOS    12       4  0.750000  2.11
4     107          J.A. Happ  2016   33  TOR    20       4  0.833333  3.18
5     151    Masahiro Tanaka  2016   27  NYY    14       4  0.777778  3.07
6     172     Charlie Morton  2018   34  HOU    15       3  0.833333  3.13
7     186        Blake Snell  2018   25  TBR    21       5  0.807692  1.89
8     188        Ryne Stanek  2018   26  TBR     2       2  0.500000  2.98
9     245      Aaron Sanchez  2016   23  TOR    15       2  0.882353  3.00
10    251     Marcus Stroman  2017   26  TOR    13       9  0.590909  3.09
11    272     Andrew Cashner  2017   29  TEX    11      11  0.500000  3.40
12    353       Trevor Bauer  2018   27  CLE    12       6  0.666667  2.21
13    362    Carlos Carrasco  2017   30  CLE    18       6  0.750000  3.29
14    363    Carlos Carrasco  2018   31  CLE    17      10  0.629630  3.38
15    591        Gerrit Cole  2018   27  HOU    15       5  0.750000  2.88
16    649   Justin Verlander  2016   33  DET    16       9  0.640000  3.04
17    650   Justin Verlander  2017   34  TOT    15       8  0.652174  3.36
18    653   Justin Verlander  2018   35  HOU    16       9  0.640000  2.52
19    698         Lance Lynn  2017   30  STL    11       8  0.578947  3.43
20    925       Jake Arrieta  2016   30  CHC    18       8  0.692308  3.10
21    970         Aaron Nola  2018   25  PHI    17       6  0.739130  2.37
22    986   Mike Foltynewicz  2018   26  ATL    13      10  0.565217  2.85
23   1018      Julio Teheran  2016   25  ATL     7      10  0.411765  3.21
24   1036       Jacob DeGrom  2018   30  NYM    10       9  0.526316  1.70
25   1066   Noah Syndergaard  2016   23  NYM    14       9  0.608696  2.60
26   1070       Zack Wheeler  2018   28  NYM    12       7  0.631579  3.31
27   1080     Patrick Corbin  2018   28  ARI    11       7  0.611111  3.15
28   1114       Max Scherzer  2016   31  WSN    20       7  0.740741  2.96
29   1115       Max Scherzer  2017   32  WSN    16       6  0.727273  2.51
30   1116       Max Scherzer  2018   33  WSN    18       7  0.720000  2.53
31   1134  Stephen Strasburg  2017   28  WSN    15       4  0.789474  2.52
32   1223        Cole Hamels  2016   32  TEX    15       5  0.750000  3.32
33   1230     Kyle Hendricks  2016   26  CHC    16       8  0.666667  2.13
34   1232     Kyle Hendricks  2018   28  CHC    14      11  0.560000  3.44
35   1256         Jon Lester  2016   32  CHC    19       5  0.791667  2.44
36   1258         Jon Lester  2018   34  CHC    18       6  0.750000  3.32
37   1269      Jose Quintana  2016   27  CHW    13      12  0.520000  3.20
38   1322       Gio Gonzalez  2017   31  WSN    15       9  0.625000  2.96
39   1414      Jack Flaherty  2018   22  STL     8       9  0.470588  3.34
40   1423    Carlos Martinez  2016   24  STL    16       9  0.640000  3.04
41   1513       Tanner Roark  2016   29  WSN    16      10  0.615385  2.83
42   1572    Clayton Kershaw  2017   29  LAD    18       4  0.818182  2.31
43   1573    Clayton Kershaw  2018   30  LAD     9       5  0.642857  2.73
44   1654       Zack Greinke  2017   33  ARI    17       7  0.708333  3.20
45   1655       Zack Greinke  2018   34  ARI    15      11  0.576923  3.21
46   1675         Robbie Ray  2017   25  ARI    15       5  0.750000  2.89
47   1697      Kyle Freeland  2018   25  COL    17       7  0.708333  2.85
48   1739  Madison Bumgarner  2016   26  SFG    15       9  0.625000  2.74
49   1782      Drew Pomeranz  2016   27  TOT    11      12  0.478261  3.32
50   1785      Drew Pomeranz  2017   28  BOS    17       6  0.739130  3.32

    Games  Starts  Saves  Innings  Walks  Strikeouts   WHIP   WAR    Salary  \
0      33      33      0    223.0     32         189  1.009   4.8  20500000
1      32      32      0    226.2     45         233  1.037   5.0   9165000
2      32      32      0    214.1     43         308  0.970   6.0  12000000
3      27      27      0    158.0     34         237  0.861   6.8  12515000
4      32      32      0    195.0     60         163  1.169   4.5  10000000
5      31      31      0    199.2     36         165  1.077   5.2  22000000
6      30      30      0    167.0     64         201  1.162   3.4   8875000
7      31      31      0    180.2     64         221  0.974   7.4    558200
8      59      29      0     66.1     27          81  1.085   1.4    418990
9      30      30      0    192.0     63         161  1.167   5.1    492420
10     33      33      0    201.0     62         164  1.308   5.3   3400000
11     28      28      0    166.2     64          86  1.320   4.6  10000000
12     28      27      1    175.1     57         221  1.089   5.7   6525000
13     32      32      0    200.0     46         226  1.095   5.5   6500000
14     32      30      0    192.0     43         231  1.125   3.9   8000000
15     32      32      0    200.1     64         276  1.033   5.2   6750000
16     34      34      0    227.2     57         254  1.001   7.2  28000000
17     33      33      0    206.0     72         219  1.175   6.4  28000000
18     34      34      0    214.0     37         290  0.902   6.2  28100000
19     33      33      0    186.1     78         153  1.229   3.1   8500000
20     31      31      0    197.1     76         190  1.084   3.7  10700000
21     33      33      0    212.1     58         224  0.975  10.5    573000
22     31      31      0    183.0     68         202  1.082   3.9   2200000
23     30      30      0    188.0     41         167  1.053   4.8   3300000
24     32      32      0    217.0     46         269  0.912   9.6   7400000
25     31      30      0    183.2     43         218  1.149   5.0    535375
26     29      29      0    182.1     55         179  1.124   3.9   1900000
27     33      33      0    200.0     48         246  1.050   4.6   7500000
28     34      34      0    228.1     56         284  0.968   6.3  15100000
29     31      31      0    200.2     55         268  0.902   7.2  15000000
30     33      33      0    220.2     51         300  0.911   8.7  15100000
31     28      28      0    175.1     47         204  1.015   6.4  15000000
32     32      32      0    200.2     77         200  1.306   5.0  22500000
33     31      30      0    190.0     44         170  0.979   5.4    541000
34     33      33      0    199.0     44         161  1.146   3.5   4175000
35     32      32      0    202.2     52         197  1.016   5.6  20000000
36     32      32      0    181.2     64         149  1.310   3.4  22500000
37     32      32      0    208.0     50         181  1.163   5.4   5400000
38     32      32      0    201.0     79         188  1.179   6.5  12000000
39     28      28      0    151.0     59         182  1.106   2.6    433640
40     31      31      0    195.1     70         174  1.224   5.3    539000
41     34      33      0    210.0     73         172  1.171   5.6    543400
42     27      27      0    175.0     30         202  0.949   4.8  33000000
43     26      26      0    161.1     29         155  1.041   3.3  33000000
44     32      32      0    202.1     45         215  1.072   5.7  24000000
45     33      33      0    207.2     43         199  1.079   4.2  24000000
46     28      28      0    162.0     71         218  1.154   4.7    570400
47     33      33      0    202.1     70         173  1.245   8.4    550000
48     34      34      0    226.2     54         251  1.028   4.8   9775000
49     31      30      0    170.2     65         186  1.184   3.8   2102460
50     32      32      0    173.2     69         174  1.353   3.9   4450000

    Adj Salary
0     21289879
1      9518134
2     11876654
3     12515000
4     10385307
5     22847675
6      8875000
7       558200
8       418990
9       511393
10     3365052
11     9897211
12     6525000
13     6433187
14     8000000
15     6750000
16    29078859
17    27712192
18    28100000
19     8412630
20    11112278
21      573000
22     2200000
23     3427151
24     7400000
25      556003
26     1900000
27     7500000
28    15681813
29    14845817
30    15100000
31    14845817
32    23366940
33      561845
34     4175000
35    20770613
36    22500000
37     5608066
38    11876654
39      433640
40      559768
41      564338
42    32660798
43    33000000
44    23753308
45    24000000
46      564537
47      550000
48    10151637
49     2183469
50     4404259

In [7]:
sql_query = 'SELECT * FROM Pitchers WHERE Games > 40 AND Year > 2015 AND ERA < 4'
Pitchers_Data = pd.read_sql(sql_query, conn)
print(Pitchers_Data)

     index            Player  Year  Age Team  Wins  Losses     W-L %   ERA  \
0        2       Matt Barnes  2017   27  BOS     7       3  0.700000  3.88
1        3       Matt Barnes  2018   28  BOS     6       4  0.600000  3.65
2       10     Heath Hembree  2017   28  BOS     2       3  0.400000  3.63
3       54   Tyler Thornburg  2016   27  MIL     8       5  0.615385  2.15
4       57  Hector Velazquez  2018   29  BOS     7       2  0.777778  3.18
5       61   Brandon Workman  2018   29  BOS     6       1  0.857143  3.27
6       62      Jake Barrett  2016   24  ARI     1       2  0.333333  3.49
7       69      Zack Britton  2016   28  BAL     2       1  0.666667  0.54
8       71      Zack Britton  2018   30  TOT     2       0  1.000000  3.10
9       82   Aroldis Chapman  2016   28  TOT     4       1  0.800000  1.55
10      85   Aroldis Chapman  2017   29  NYY     4       3  0.571429  3.22
11      86   Aroldis Chapman  2018   30  NYY     3       0  1.000000  2.45
12      91        Chad Green  2018   27  NYY     8       3  0.727273  2.50
13     114   Jonathan Holder  2018   25  NYY     1       3  0.250000  3.14
14     118      Tommy Kahnle  2017   27  TOT     2       4  0.333333  2.59
15     129     Adam Ottavino  2018   32  COL     6       4  0.600000  2.43
16     155     Jose Alvarado  2018   23  TBR     1       6  0.142857  2.39
17     159    Diego Castillo  2018   24  TBR     4       2  0.666667  3.18
18     183          Chaz Roe  2018   31  TBR     1       3  0.250000  3.58
19     188       Ryne Stanek  2018   26  TBR     2       2  0.500000  2.98
20     191       Joe Biagini  2016   26  TOR     4       3  0.571429  3.06
21     202         Ken Giles  2017   26  HOU     1       3  0.250000  2.30
22     238         Derek Law  2016   25  SFG     4       2  0.666667  2.13
23     258    Richard Bleier  2017   30  BAL     2       1  0.666667  1.99
24     279     Miguel Castro  2018   23  BAL     2       7  0.222222  3.96
25     282     Mychal Givens  2016   26  BAL     8       2  0.800000  3.13
26     283     Mychal Givens  2017   27  BAL     8       1  0.888889  2.75
27     284     Mychal Givens  2018   28  BAL     0       7  0.000000  3.99
28     331      Blake Parker  2017   32  LAA     3       3  0.500000  2.54
29     332      Blake Parker  2018   33  LAA     2       1  0.666667  3.26
..     ...               ...   ...  ...  ...   ...     ...       ...   ...
193   1630    Archie Bradley  2017   24  ARI     3       3  0.500000  1.73
194   1631    Archie Bradley  2018   25  ARI     4       5  0.444444  3.64
195   1634     Andrew Chafin  2017   27  ARI     1       0  1.000000  3.51
196   1635     Andrew Chafin  2018   28  ARI     1       6  0.142857  3.10
197   1656  Yoshihisa Hirano  2018   34  ARI     4       3  0.571429  2.44
198   1662      Greg Holland  2017   31  COL     3       6  0.333333  3.61
199   1671      TJ McFarland  2018   29  ARI     2       2  0.500000  2.00
200   1691         Mike Dunn  2016   30  MIA     6       1  0.857143  3.40
201   1712        Jake McGee  2017   30  COL     0       2  0.000000  3.61
202   1717       Scott Oberg  2018   28  COL     8       1  0.888889  2.45
203   1718      Seungwhan Oh  2016   33  STL     6       3  0.666667  1.92
204   1720      Seungwhan Oh  2018   35  TOT     6       3  0.666667  2.63
205   1721      Seungwhan Oh  2018   35  TOR     4       3  0.571429  2.68
206   1730        Bryan Shaw  2016   28  CLE     2       5  0.285714  3.24
207   1731        Bryan Shaw  2017   29  CLE     4       6  0.400000  3.52
208   1747         Sam Dyson  2016   28  TEX     3       2  0.600000  2.43
209   1751         Sam Dyson  2018   30  SFG     4       3  0.571429  2.69
210   1771     Mark Melancon  2016   31  TOT     2       2  0.500000  1.64
211   1772     Mark Melancon  2016   31  PIT     1       1  0.500000  1.51
212   1775     Mark Melancon  2018   33  SFG     1       4  0.200000  3.23
213   1776     Reyes Moronta  2018   25  SFG     5       2  0.714286  2.49
214   1805        Will Smith  2016   26  TOT     2       4  0.333333  3.35
215   1808        Will Smith  2018   28  SFG     2       3  0.400000  2.55
216   1814      Nick Vincent  2016   28  SEA     4       4  0.500000  3.73
217   1815      Nick Vincent  2017   29  SEA     3       3  0.500000  3.20
218   1816      Nick Vincent  2018   30  SEA     4       4  0.500000  3.99
219   1822       Tony Watson  2016   31  PIT     2       5  0.285714  3.06
220   1823       Tony Watson  2017   32  TOT     7       4  0.636364  3.38
221   1824       Tony Watson  2017   32  PIT     5       3  0.625000  3.66
222   1826       Tony Watson  2018   33  SFG     4       6  0.400000  2.59

     Games  Starts  Saves  Innings  Walks  Strikeouts   WHIP  WAR    Salary  \
0       70       0      1     69.2     28          83  1.220  0.7    563500
1       62       0      0     61.2     31          96  1.265  1.1    605000
2       62       0      0     62.0     18          70  1.452  0.4    547000
3       67       0     13     67.0     25          90  0.940  2.5    513900
4       47       8      0     85.0     26          53  1.447  1.6    547000
5       43       0      0     41.1     16          37  1.210  0.9    781086
6       68       0      4     59.1     28          56  1.264  1.1    507500
7       69       0     47     67.0     18          74  0.836  4.2   6750000
8       41       0      7     40.2     21          34  1.230  0.7  12000000
9       59       0     36     58.0     18          90  0.862  2.6  16461455
10      52       0     22     50.1     20          69  1.132  1.0  21000000
11      55       0     32     51.1     30          93  1.052  1.7  20000000
12      63       0      0     75.2     15          94  1.044  2.3    570800
13      60       1      0     66.0     19          60  1.091  1.0    512216
14      69       0      0     62.2     17          96  1.117  1.7    520294
15      75       0      6     77.2     36         112  0.991  2.6   7000000
16      70       0      8     64.0     29          80  1.109  1.6    549800
17      43      11      0     56.2     18          65  0.953  1.2    345740
18      61       0      1     50.1     16          53  1.013  0.6    720000
19      59      29      0     66.1     27          81  1.085  1.4    418990
20      60       0      1     67.2     19          62  1.300  0.9    507500
21      63       0     34     62.2     21          83  1.037  2.0    550100
22      61       0      1     55.0      9          50  0.964 -0.1    507500
23      57       0      0     63.1     13          26  1.184  1.4    535000
24      63       1      0     86.1     50          57  1.448  1.3    553000
25      66       0      0     74.2     36          96  1.272  1.5    511500
26      69       0      0     78.2     25          88  1.042  2.3    546000
27      69       0      9     76.2     30          79  1.187  1.0    566500
28      71       0      8     67.1     16          86  0.832  1.8    560000
29      67       0     14     66.1     19          70  1.236  1.0   1800000
..     ...     ...    ...      ...    ...         ...    ...  ...       ...
193     63       0      1     73.0     21          79  1.041  3.5    544100
194     76       0      3     71.2     20          75  1.144  0.5    581900
195     71       0      0     51.1     21          61  1.344  1.0    559300
196     77       0      0     49.1     25          53  1.338  0.9   1195000
197     75       0      3     66.1     23          59  1.085  1.3   3000000
198     61       0     41     57.1     26          70  1.151  1.5  13000000
199     47       0      1     72.0     22          42  1.194  1.7    850000
200     51       0      0     42.1     11          38  1.276  0.5   3450000
201     62       0      3     57.1     16          58  1.099  1.4   5900000
202     56       0      0     58.2     12          57  0.989  2.4    453568
203     76       0     19     79.2     18         103  0.916  2.7   2500000
204     73       0      3     68.1     17          79  1.010  2.3   2750000
205     48       0      2     47.0     10          55  1.000  1.5   1119597
206     75       0      1     66.2     28          69  1.260  1.2   2750000
207     79       0      3     76.2     22          73  1.213  0.6   4600000
208     73       0     38     70.1     23          55  1.223  2.9    525270
209     74       0      3     70.1     20          56  1.081  1.3   4425000
210     75       0     47     71.1     12          65  0.897  2.9   9650000
211     45       0     30     41.2      9          38  0.960  1.7   6222405
212     41       0      3     39.0     14          31  1.590  0.1  10000000
213     69       0      1     65.0     37          79  1.092  1.5    545000
214     53       0      0     40.1     18          48  1.215  0.2   1475000
215     54       0     14     53.0     15          71  0.981  1.0   2500000
216     60       0      3     60.1     15          65  1.127  0.6    525500
217     69       0      0     64.2     13          50  1.160  1.4   1325000
218     62       1      0     56.1     15          56  1.154  0.3   2750000
219     70       0     15     67.2     20          58  1.064  1.3   3450000
220     71       0     10     66.2     20          53  1.380  1.0   5600000
221     47       0     10     46.2     14          35  1.521  0.6   3672137
222     72       0      0     66.0     14          72  1.030  1.8   3000000

     Adj Salary
0        557708
1        605000
2        541377
3        533701
4        547000
5        781086
6        527054
7       7010082
8      12000000
9      17095726
10     20784144
11     20000000
12       570800
13       512216
14       514946
15      7000000
16       549800
17       345740
18       720000
19       418990
20       527054
21       544446
22       527054
23       529501
24       553000
25       531208
26       540388
27       566500
28       554244
29      1800000
..          ...
193      538507
194      581900
195      553551
196     1195000
197     3000000
198    12866375
199      850000
200     3582931
201     5839355
202      453568
203     2596327
204     2750000
205     1119597
206     2855959
207     4552717
208      545509
209     4425000
210    10021821
211     6462158
212    10000000
213      545000
214     1531833
215     2500000
216      545748
217     1311381
218     2750000
219     3582931
220     5542438
221     3634392
222     3000000

[223 rows x 19 columns]

In [8]:
sql_query = 'SELECT SUM(Strikeouts) FROM Pitchers WHERE (Player = "Chris Sale" OR Player = "Max Scherzer" OR Player = "Mike Fiers" OR Player = "Carlos Carrasco" OR Player = "Charlie Morton" OR Player = "Blake Treinen" OR Player = "Kirby Yates" OR Player = "Seungwhan Oh" OR Player = "Craig Stammen" OR Player = "Tony Watson" OR Player = "Jeremy Jeffress" OR Player = "Sean Dolittle" OR Player = "Adam Warren") AND Year = 2018'
Pitchers_Data = pd.read_sql(sql_query, conn)
print(Pitchers_Data)

   SUM(Strikeouts)
0             2008